// Slider main container
.slider-pro#MainSlider
    // Slides
    .sp-slides
        .sp-slide
            img.sp-image(src="/images/Slider1.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 1
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider2.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 2
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider3.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 3
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider4.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 4
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider5.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 5
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider6.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 6
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider7.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 7
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider8.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 8
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit
        .sp-slide
            img.sp-image(src="/images/Slider9.jpg")
            h1.sp-layer.sp-black.sp-padding(data-position="topLeft" data-horizontal="2%" data-vertical="3%"
            data-show-transition="left" data-show-delay="300" data-hide-transition="right") Slider 9
            p.sp-layer.sp-white.sp-padding(data-width="200" data-horizontal="center" data-vertical="60%"
            data-show-transition="down" data-hide-transition="up") consectetur adipisicing elit

    .sp-thumbnails
        img.sp-thumbnail(src="/images/Slider1.jpg")
        img.sp-thumbnail(src="/images/Slider2.jpg")
        img.sp-thumbnail(src="/images/Slider3.jpg")
        img.sp-thumbnail(src="/images/Slider4.jpg")
        img.sp-thumbnail(src="/images/Slider5.jpg")
        img.sp-thumbnail(src="/images/Slider6.jpg")
        img.sp-thumbnail(src="/images/Slider7.jpg")
        img.sp-thumbnail(src="/images/Slider8.jpg")
        img.sp-thumbnail(src="/images/Slider9.jpg")

br
br
br
br
br